:root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    --border-color: #444444;
    --side-bar-width: 40px;
    --side-panel-width: 300px;
    --header-height: 50px;
    --footer-height: 50px;
    --primary-color: #0c8ce9;
    --hover-color: rgba(255, 255, 255, 0.12);
}

body {
    margin: 0;
}

.select-box {
    border: 1px solid #55aaff;
    background-color: rgba(75, 160, 255, 0.3);
    position: relative;
}
